<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX</title>
</head>
<body>
    <h1>AJAX example</h1>
    <button onclick="loadMessage()">Get Message</button>
    <p id="result"></p>

<script>
    function loadMessage() {
        fetch('/get-message')
        .then(response => response.json())
        .then(data => {
            document.getElementById("result").innerHTML = data.message;
        });
    }
</script>
</body>
</html>